body {
	font-family: Verdana;
	background-image: url("Image/papper.jpg");
	background-repeat: repeat;
}
a:hover {
	background-color: purple;
	color: pink;
}
.header {
	background-color: pink;
	width: 75%;
	padding: 20px;
	text-align: center;
	margin: auto;
}
.nav {
	padding: 20px;
	display: inline;
	text-align: center;	
}	
.link {
	text-decoration: none;
	border: 1px solid black;
	background-color: yellow;
	padding: 5px;
}
.image {
	background-color: yellow;
	text-align: center;
	border: 1px dotted black; 
}
.form {
	background-color: #fff8dc;
	border: 3px dotted black;
	padding: 15px;
	margin: auto;
	width: 50%;
}
.form_2 {
	display:inline-block;
	background-color: white;
	padding: auto;
}
.style {
	text-align: center;
	border-radius: 5px;
	padding: 10px;
	font-weight: 900;
	color: white;
	background-color: #0602ff;
	margin: 5px;
}
.footer {
	border: 1px solid black;
	background-color: #00ffff;
	border-radius: 15px;
	padding:15px;
	display: inline-block;
	font-family: none;
}

