.lb {
	color: #015785;
	font-weight: 600;
	text-decoration: none;
}
.char {
	color: red;
}
input.input {
	width: 100%;
}

button.btn {
	color: white;
	background-color: #2196f3;
	font-weight: 550;
	width: 100%;
}
button.btn_2 {
	color: black;
	background-color: white;
	border: 1px solid black;
	font-weight: 550;
	width: 100%;
}
button:hover.btn_3 {
	color: black;
	border: 1px solid black;
}
button:hover.btn_4 {
	color: white;
	background-color: #8b8c8c;
	transition: 0.3s;
	font-weight: 550;
	width: 100%;
}
img {
	width: 99%;
}
p {
	text-align: center;
}
.default {
	display: inline;
}