.link {
	color: #015785;
	font-weight: 600;
	text-decoration: none;
}
.label {
	color: #015785;
	font-weight: 600;
}
.char {
	color: red;
}
input.input {
	width: 100%;
}

button.button-signIn {
	color: white;
	background-color: #2196f3;
	font-weight: 550;
	width: 100%;
}
button.button-registration {
	color: black;
	background-color: white;
	border: 1px solid black;
	font-weight: 550;
	width: 100%;
}
button:hover.button-signIn {
	color: black;
}
button:hover.button-registration {
	color: white;
	background-color: #8b8c8c;
	transition: 0.3s;
	font-weight: 550;
	width: 100%;
}
img {
	height: 120px;
}
p {
	text-align: center;
}
.default {
	display: inline;
}