body {
	font-family: Sans-serif;
}
img {
	width: calc(50% - 20px);
}
.image {
	padding-right: 15px;
}
.container {
	display: inline;
}
.content-primary {
	width: calc(50% - 20px);
	float: left;
}
.content-secondary {
	float: left;
}
.heading {
	padding: 15px;
}
.para {
	line-height: 1.6;
	padding: 15px;
}
.clearfix {
	overflow: auto;
}
a.link-item-primary {
	text-decoration: none;
	padding: 15px;
	border: 1px solid #77bddf;
	background-color: #77bddf;
	color: white;
	border-radius: 100px;
	margin: 15px;
}
a:hover.link-item-primary {
	background-color: blue;
	transition: 0.5s;
}
a.link-item-secondary {
	text-decoration: none;
	padding: 15px;
	border: 1px solid #94d26f;
	background-color: #94d26f;
	color: white;
	border-radius: 100px;
}
a:hover.link-item-secondary {
	background-color: green;
	transition: 0.5s;