.container-sm {
	background-color: #eeeeee;
	padding: 15px;
}
.input {
	margin: 7px;
	width: 99%;
}
h5.heading {
	text-align: center;
}
.button-controls {
	text-align: center;
}
a.link {
	text-decoration: none;
}